

.background-image{

    background-image: url('../Hero-bg.png');
}
.logo{
    display: flex;
    justify-content:space-between;
    margin: 50px;
}

  .logo h2{
  width: 99px;
  height: 51px;
  color: #4E47FF;
  font-size: 35px;
}
div button{
    height: 40px;
    width: 130px;
   font-size: 15px;
    margin: 30px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    
}

.cool{
    text-align: center;
    justify-content: center;
}
.cool h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.action{ 
    display: flex;
    justify-content: space-between;
    margin-top:  200px ;
}
.see h1{
    font-size: 48px;
    font-weight: bold;
    color: #252432;
    
}
.see p{
    width: 517px;
    height: 20px;
    color: #252432;
}
.see{
    width: 517px;
    height: 203px;
    margin-left: 140px;
   
}
.action img{
    width: 403px;
    height: 328px;
    margin-right: 150px;
    border-radius: 48px;
}
.see button{
    width: 200px;
    border-radius: 10px;
}
.about{
    text-align: center;
    width: 900px;
    height: 306px;
    justify-content: center;
    margin: 150px 170px;
    background-color: #cac9e8;
    padding-top: 30px;
    border-radius: 15px;
    margin-left: 200px;
}
.display{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 90px;

}
.about h2{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.about-title{
    font-size: 70px;
    font-weight: bold;
    margin-top: 3px;
    
    
}
.description-about{
   line-height: 0%;
   width: 160px;
   height: 24px;
}
.user-say{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.viewer{
    display: flex;
    gap: 10px;
    
}
.reviewer-card{
     width: 600px;
     height: 200px;
     padding: 20px;
     background-color: #FFFFFF;
     border: 1px solid #25243250;
     box-shadow: 5px;
     border-radius: 10px;
}
    
.full-revieo{
    display: flex;
    margin: 150px;
    gap: 15px;
}
.focus{
    text-align: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 137px 150px;
    
}
.focus h1{
    padding-top: 40px;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    
}
.focus img{
    width: 800px;
    height: 365px;
    border-radius: 30px;
}
.form{
    display: flex;
    justify-content: space-between;
    margin: 100px 150px;
    gap: 10px;
}
.form h1{
    font-size: 97px;
    font-weight: bold;
    color: #000;
}
.form-box{
    width: 400px;
    height: 102px
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
}
input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000050;
}
textarea{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000050;
}
.touch{
    width: 90%;
}
.footer{
    justify-content: center;
    width: 100%;
    height: 300px;
    justify-content: center;
   position: absolute;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    border: 1px solid #00000050;
    
}
.footer h1{
    font-size: 50px;
    font-weight: bold;
    color: #4E47FF;
}
.footer a{
    margin: 15px;
    text-decoration: none;
    color: #000;
}